{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <!-- Slider Start -->
            <div id="rs-slider" class="rs-slider slider3 rs-slider-style4 relative">
                <div class="bend niceties">
                    <div id="nivoSlider" class="slides">
                        <img src="assets/images/slider/slider.jpg" alt="" title="#slide-1" />
                    </div>
                    <!-- Slide 1 -->
                    <div id="slide-1" class="slider-direction">
                        <div class="content-part text-center">
                            <div class="container">
                                <div class="slider-des">
                                    <div class="sl-subtitle">Bienvenue</div>
                                    <h1 class="sl-title"> LIBRESCO ENERGY</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider End -->
            <!-- Services Section Start -->

            <div id="rs-services" class="rs-services style6">
                <div class="container custom" >
                    <div class="services-box-area bg20">
                        <div class="row margin-0">
                            <div class="col-lg-3 col-md-6 col-sm-6 padding-0">
                                <div class="services-item">
                                    <div class="services-icon">
                                        <img class="dance_hover" src="assets/images/services/style6/icon-box/reseau.jpg" alt="Services">
                                    </div>
                                    <div class="services-content">
                                        <h3 class="title"><a href="services-style1.html">Reseau public </a></h3>
                                        <p class="margin-0" style="text-align:justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry, yes.</p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 padding-0">
                                <div class="services-item">
                                    <div class="services-icon">
                                        <img class="dance_hover" src="assets/images/services/style6/icon-box/industrie.png" alt="Services">
                                    </div>
                                    <div class="services-content">
                                        <h3 class="title"><a href="services-style1.html">Industrie</a></h3>
                                        <p class="margin-0" style="text-align:justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 padding-0">
                                <div class="services-item">
                                    <div class="services-icon">
                                        <img class="dance_hover" src="assets/images/services/style6/icon-box/tertiaire.png" alt="Services">
                                    </div>
                                    <div class="services-content">
                                        <h3 class="title"><a href="services-style1.html">Tertiaire</a></h3>
                                        <p class="margin-0" style="text-align:justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 padding-0">
                                <div class="services-item no-border">
                                    <div class="services-icon">
                                        <img class="dance_hover" src="assets/images/services/style6/icon-box/sante.png" alt="Services">
                                    </div>
                                    <div class="services-content">
                                        <h3 class="title"><a href="services-style1.html">Santé</a></h3>
                                        <p class="margin-0" style="text-align:justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Services Section End -->

            <!-- Blog Start -->
            <div class="rs-blog style2 home3-blog-style home4-blog-style bg19 pt-95 pb-100 md-pt-65 md-pb-70"  style="margin-top: -36%">
                <div class="container">
                    <div class="row y-middle">
                        <div class="col-lg-6 mb-50">
                            <div class="sec-title3">
                                <h2 class="title pb-25">
                                   Actualités
                                </h2>
                                <div class="heading-border-line left-style"></div>
                            </div>
                        </div>
                    </div>
                    <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="true" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="true" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="true" data-md-device="3" data-md-device-nav="false" data-md-device-dots="true">
                        <div class="blog-item">
                            <div class="image-wrap">
                                <a href="blog-details.html"><img src="assets/images/blog/eec.jpg" alt="Blog"></a>
                            </div>
                            <div class="blog-content">
                               <ul class="blog-meta mb-10">
                                   <li class="admin"> <i class="fa fa-user-o"></i>Brazzaville</li>
                                   <li class="date"> <i class="fa fa-calendar-check-o"></i> 16 Juin 2022</li>
                               </ul>
                               <h3 class="blog-title"><a href="blog-details-2.html">Customer Onboarding Strategy: A Guide to Class</a></h3>
                               <p>We denounce with righteous indige nation and dislike men who are so beguiled and demo...</p>
                            </div>
                        </div>
                        <div class="blog-item">
                            <div class="image-wrap">
                                <a href="blog-details.html"><img src="assets/images/blog/eec1.jpg" alt="Blog"></a>
                            </div>
                            <div class="blog-content">
                               <ul class="blog-meta mb-10">
                                   <li class="admin"> <i class="fa fa-user-o"></i> Brazzaville</li>
                                   <li class="date"> <i class="fa fa-calendar-check-o"></i> 18 Juin 2022</li>
                               </ul>
                               <h3 class="blog-title"><a href="blog-details-2.html">How to plan a fail-proof website redesign strategy</a></h3>
                               <p>We denounce with righteous indige nation and dislike men who are so beguiled and demo...</p>
                            </div>
                        </div>
                        <div class="blog-item">
                            <div class="image-wrap">
                                <a href="blog-details.html"><img src="assets/images/blog/imboulou.jpg" alt="Blog"></a>
                            </div>
                            <div class="blog-content">
                               <ul class="blog-meta mb-10">
                                   <li class="admin"> <i class="fa fa-user-o"></i> Nkayi</li>
                                   <li class="date"> <i class="fa fa-calendar-check-o"></i> 25 juin 2022</li>
                               </ul>
                               <h3 class="blog-title"><a href="blog-details-2.html">How investing in dependend increasing to business</a></h3>
                               <p>We denounce with righteous indige nation and dislike men who are so beguiled and demo...</p>
                            </div>
                        </div>
                        <div class="blog-item">
                            <div class="image-wrap">
                                <a href="blog-details.html"><img src="assets/images/blog/moukoukoulou.jpg" alt="Blog"></a>
                            </div>
                            <div class="blog-content">
                               <ul class="blog-meta mb-10">
                                   <li class="admin"> <i class="fa fa-user-o"></i> Dolisie</li>
                                   <li class="date"> <i class="fa fa-calendar-check-o"></i> 20 juin 2021</li>
                               </ul>
                               <h3 class="blog-title"><a href="blog-details-2.html">7 Productivity tips to avoid burnout when working</a></h3>
                               <p>We denounce with righteous indige nation and dislike men who are so beguiled and demo...</p>
                            </div>
                        </div>
                        <div class="blog-item">
                            <div class="image-wrap">
                                <a href="blog-details.html"><img src="assets/images/blog/snde.jpg" alt="Blog"></a>
                            </div>
                            <div class="blog-content">
                               <ul class="blog-meta mb-10">
                                   <li class="admin"> <i class="fa fa-user-o"></i>Pointe noire</li>
                                   <li class="date"> <i class="fa fa-calendar-check-o"></i> 16 juin 2021</li>
                               </ul>
                               <h3 class="blog-title"><a href="blog-details-2.html">Email marketing tips that will increase your sales</a></h3>
                               <p>We denounce with righteous indige nation and dislike men who are so beguiled and demo...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


             <!-- Services Section Start -->
            <div class="rs-services main-home services-style1 home-4-style bg7 pt-95 pb-100 md-pt-70 md-pb-65">
                <div class="container">
                    <div class="sec-title3 text-center mb-65 md-mb-45">
                        <h2 class="title pb-25">
                            Nos partenaires
                        </h2>
                        <div class="heading-border-line"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb-65">
                            <div class="services-item">
                                <div class="services-icon">
                                    <img src="assets/images/services/style6/1.png" alt="Services">
                                </div>
                                <div class="services-text">
                                    <h2 class="title"><a href="business-planning.html">Business Planning</a></h2>
                                    <p class="services-txt"> Quisque placerat vitae lacus ut scelerisque. Fusce luctus odio ac nibh luctus consulting.</p>
                                    <div class="serial-number">
                                        01
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-65">
                            <div class="services-item">
                                <div class="services-icon">
                                    <img src="assets/images/services/style6/2.png" alt="Services">
                                </div>
                                <div class="services-text">
                                    <h2 class="title"><a href="tax-strategy.html">Tax Strategy</a></h2>
                                    <p class="services-txt"> Quisque placerat vitae lacus ut scelerisque. Fusce luctus odio ac nibh luctus consulting.</p>
                                    <div class="serial-number">
                                        02
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-65">
                            <div class="services-item">
                                <div class="services-icon">
                                    <img src="assets/images/services/style6/3.png" alt="Services">
                                </div>
                                <div class="services-text">
                                    <h2 class="title"><a href="financial-advices.html">Financial Advices</a></h2>
                                    <p class="services-txt"> Quisque placerat vitae lacus ut scelerisque. Fusce luctus odio ac nibh luctus consulting.</p>
                                    <div class="serial-number">
                                        03
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 md-mb-65">
                            <div class="services-item">
                                <div class="services-icon">
                                    <img src="assets/images/services/style6/4.png" alt="Services">
                                </div>
                                <div class="services-text">
                                    <h2 class="title"><a href="insurance-strategy.html">Insurance Strategy</a></h2>
                                    <p class="services-txt"> Quisque placerat vitae lacus ut scelerisque. Fusce luctus odio ac nibh luctus consulting.</p>
                                    <div class="serial-number">
                                        04
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 sm-mb-65">
                            <div class="services-item">
                                <div class="services-icon">
                                    <img src="assets/images/services/style6/5.png" alt="Services">
                                </div>
                                <div class="services-text">
                                    <h2 class="title"><a href="start-ups.html">Start Ups</a></h2>
                                    <p class="services-txt"> Quisque placerat vitae lacus ut scelerisque. Fusce luctus odio ac nibh luctus consulting.</p>
                                    <div class="serial-number">
                                        05
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="services-item">
                                <div class="services-icon">
                                    <img src="assets/images/services/style6/6.png" alt="Services">
                                </div>
                                <div class="services-text">
                                    <h2 class="title"><a href="manage-investment.html">Manage Investment</a></h2>
                                    <p class="services-txt"> Quisque placerat vitae lacus ut scelerisque. Fusce luctus odio ac nibh luctus consulting.</p>
                                    <div class="serial-number">
                                        06
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <!-- Services Section End -->
{% endblock %}